@import '../../employee/edit-details/edit-details.component.scss';

.add-form{
    width: 100%;
}

.details-container{
    padding: 10px;
}

.table,th,td{
    padding: 5px 10px;
    border: 1px solid #478dc0;
}

.btn-data{
    border: none;
    &__btn{
        border: none;
        padding: 4px 8px;
        background-color: #4e89b3;
        color: #fff;
    }
}
.table{
    margin: auto;
    text-align: left;
}
