@import '../../../shared/employeeForm.scss';
.dp {
  height: 100px;
  width: 100px;
  border: 1px solid #478dc0;
  margin-bottom: 20px;

  &__image {
    width: 100px;
    height: 100px;
    border: 1px solid #478dc0;
  }
}
.view-form {
  width: 100%;
  margin: 30px auto;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}
.label-title {
  color: #478dc0;
  font-size: 17px;
  font-weight: bold;
}
.leave-container {
  width: 100%;
  padding-bottom: 50px;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
}
@media (max-width: 600px) {
  .horizontal-group {
    flex-direction: column;
  
    .left,.right {
      width: 98%;
    }
  }
}